*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME-PAGE */

#homePage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
 


