@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAVBAR */
.navbar-brand{
    font-family: "Major Mono Display", monospace;
}

/* HOME-PAGE */
#home{
    width: 100%;
    height: 100vh;
   
}

#homePage {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   

}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.803);
    
}
#homePage h1{
    font-size: 70px;
    
}
.mainLogo{
    width: 150px;
    height: 150px;
}
.homeVdo{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    
}

@media(max-width:576px){
    #homePage h1{
        font-size: 30px;
        
    }
    .mainLogo{
        width: 100px;
        height: 100px;
    }
}

